.env
.venv/
__pycache__/
*.pyc

data/raw/*
data/staging/*
data/processed/*
outputs/reports/*
outputs/exports/*

!data/raw/.gitkeep
!data/staging/.gitkeep
!data/processed/.gitkeep
!outputs/reports/.gitkeep
!outputs/exports/.gitkeep

echo "*.swp" >> .gitignore
echo "*.swo" >> .gitignorenano.*.save
docs/passwordn8n.txt
data/import/*.xlsx
data/import/*.csv
*.swp
*.swo
nano.*.save
